@font-face {
  font-family: "ZhuZiAWan";
  src: url("./ZhuZiAWan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:
    "ZhuZiAWan",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}
